@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Sigmar One", cursive;
  background-color: rgb(34, 34, 34);
}
